dspyview .methodview {
  padding: 12px;
}

toolbarview.sidebar {
  border: none;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-fg-color);
}

.sidebar .view {
  background: none;
}

.sidebar .view row {
  background: none;
}
